*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --distantMountain: #5d99d7;
}
body {
    background-color: var(--distantMountain);
}
header{
    Display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/White-Mountains.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1{
    font-size: 50px;

}



header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    bottom: 150px;
    left: 400px;
    height: fit-content;
   
}

header nav ul{
    display: flex;
    list-style: none;   
}

header nav ul li a{
    color: #2d475e;
    opacity: 0.75;
    font-family: cursive; 
    font-size: 25px;
    margin: 50px;
   }

.about-me {
    font-size: 18px;
    line-height: 1.2;
    background-color: #5d99d7;
  }


.hero{
    background-image: url("../images/White-Mountains.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}
.hero-profile-image{
    width: 300px; 
    justify-content:flex-start;
}

h2{
    text-align: center;
    font-style: italic;
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 70px 0 10px 0;
}
 .aboutMe h2{
     margin: 100px 0 30px 0;
 }

 .aboutMe p{
     width: 400px;
     text-align: center;
    margin:0 auto;
 }

.primeContent a{
    width: 300px;
    height: 200px;
    margin: 30px;
    text-decoration: none;
    background-size: cover;
}

.primeContent section{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--distantMountain)
}

.primeContent h2{
    width: 100%;
}

.primeContent h3{
    font-size: 20px;
    color:white;
}

.primeContent p {
    color: white;
}


.interestMusic{
    background-image: url("../images/leah-guitar.jpg");
   
}

.interestOutdoors{
    background-image: url("../images/Outdoors.jpg");
    
}

.interestRockhounding{
    background-image: url("../images/rockhounding.jpg");
    
}

.interestMartialarts{
    background-image: url("../images/karate.jpg");
    
}
.webDesign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#project1{
    background-image: url("../images/run-buddy.jpg");
    /* flex: 4 1 auto; */
    height:400px;
    width: 1000px;
   
}
.project2{
    background-image: url("../images/Horiseon.jpg");
    
}

.project3{
    background-image: url("../images/music-background.jpg");
    
}

.project4{
    background-image: url("../images/music-background.jpg");
    
}

.contactMe menu{
    text-align: center;
    font-size: 30px;
   
}

.contactMe a {
    margin: 25px;
}

footer h3{
text-align: center;

}

