*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    background-color: rgb(86, 136, 197);
}

.hero{
    background-image: url("../images/White-Mountains.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
}
.hero-profile-image{
    width: 300px; 
}

.hero nav{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: flex-end;
    bottom: 150px;
    left: 400px;
    height: fit-content;
}

.hero nav ul{
    display: flex;
    list-style: none;
}

.hero nav ul li a{
    color: white;
    font-family: cursive; 
    font-size: 25px;
    margin: 50px;
   }

footer{

    background-image: url("../images/White-Mountains.jpg");

}