/* global css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* color variables */
:root{
    --distantMountain: #5d99d7;
    --cloud:#afbfd6;
    --closerMountain:#315783;
    --mountainTop:#d6cac3;
   
}

/* Body */
body {
    background-color: var(--distantMountain);
}

/* Header */
header{
    Display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/White-Mountains.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    text-shadow: 0 0 10px rgba(0,0,0,0.5)
}

header h1{
    font-size: 50px;
}

header h1 a{
    text-decoration: none;
    color:var(--closerMountain)
}

header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    bottom: 150px;
    left: 400px;
    height: fit-content;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;   
}

header nav ul li a{
    color: var(--closerMountain);
    opacity: 0.75;
    font-family: cursive; 
    font-size: 25px;
    margin: 50px;
}

/* Psudo-class for nav and my name (return to top) */
header h1 a:hover, nav li a:hover, menu a:hover{
    background: var(--mountainTop);
    border-radius: 15px;
    text-shadow: none;
    color: white;
   }

   /* Hero */
.hero{
    background-image: url("../images/White-Mountains.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    height: 700px;
}
.hero-profile-image{
    width: 300px; 
    justify-content:flex-start;
    height: 500px;
    width: 500px;
    border: 5px outset var(--closerMountain);
    border-radius: 50%;
    margin: 40px 0 0 20px;
}

.hero-profile-image, #project1, .moreProjects a, .interests a{
    box-shadow:0 0 30px rgba(0,0,0,1)
}

/* General H2 style */
h2{
    text-align: center;
    font-style: italic;
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 30px 0 10px 0;
    padding: 90px 0 0 0;
}

  /* About Me Section */
.about-me {
    font-size: 18px;
    line-height: 1.2;
    background-color: #5d99d7;
}
.aboutMe p{
     width: 1000px;
     text-align: center;
     margin:0 auto;
     font-size: 25px;
}

/* Prime Content Section */

.primeContent p {
    color: white;
}

.primeContent a{
    width: 300px;
    height: 200px;
    margin: 30px;
    text-decoration: none;
    background-size: cover;
    border-radius: 15px;
}

.primeContent section{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--distantMountain)
}

.primeContent h2{
    width: 100%;
}

/* Projects and project labels */
#project1 h3{
    font-size: 40px;
}

.lblProject1 p{
    padding: 0 0 10px 0;
    font-size: 20px;
    font-weight: bold;
}


.runBuddy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#project1{
    background-image: url("../images/run-buddy.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    height:450px;
    width: 1000px;
    /* border:chartreuse solid 5px; */
}

.moreProjects {
    justify-content: space-evenly;
}


.moreProjects a {
    width: 400px;
    height: 300px;
}

.lblProject1,.lblMoreprojects, .interests h3{
    width: 260px;
    background-color: var(--mountainTop);
    color: var(--closerMountain);
    border-radius: 15px;
    margin: 15px 0 0 15px;
    border:var(--closerMountain) solid 2px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    text-shadow:0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.lblMoreprojects h3{
    font-size: 25px;
    padding: 5px;
}

.lblMoreprojects p{
    padding: 0 0 10px 0;
    font-size: 20px;
    font-weight: bold;
}

#project1:hover, .moreProjects a:hover, .interests a:hover{
transform: scale(1.2);

}

.project2{
    background-image: url("../images/Horiseon.jpg");
    
}

.project3{
    background-image: url("../images/music-background.jpg");
    
}

.project4{
    background-image: url("../images/music-background.jpg");
    
}

/* interests section */
.interestMusic{
    background-image: url("../images/leah-guitar.jpg");
   
}

.interestOutdoors{
    background-image: url("../images/Outdoors.jpg");
    
}

.interestRockhounding{
    background-image: url("../images/rockhounding.jpg");
    
}

.interestMartialarts{
    background-image: url("../images/karate.jpg");
    
}
.interests{
    justify-content: space-around;
}

/* Contact Me section */
.contactMe menu{
    text-align: center;
    font-size: 30px;
}

.contactMe a {
    margin: 25px;
}

/* Footer */

footer h3{
text-align: center;

}

/* MEDIA QUERY FOR 980px AND SMALLER */
@media screen and (max-width: 980px) {

    h2{
        padding: 120px 0 0 0; 
    }

    header {
        padding-bottom: 0;
        position: sticky;
        
        }

    header h1{
        width:100%;
        text-align: center;
    }

    header nav{
        width: 100%
    }

    header nav ul {
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-evenly;
    }

    header nav ul li a {
        font-size: 20px;
        margin: 0 20px;
    
    }

    .hero{
        justify-content: center;
        
    }

    .aboutMe p{
        margin: auto;
        width: 950px;
        font-size: 20px;
    }

    #project1{
        width: 900px;
        height: 300px;
        background-size: cover;
    }
        

    .interests{
        justify-content: center;
    }
}
    /* MEDIA QUERY FOR 760px AND SMALLER */
    @media screen and (max-width: 768px) {
    .hero-profile-image{
        height: 400px;
        width: 400px;
        margin-top: 50px;
    }

    .aboutMe p{
        margin: auto;
        width: 740px;
        font-size: 20px;
    }

    .runBuddy{
        height: 350px;
    }

    .lblProject1{
    width: 210px;
    }

    #project1{
        width: 700px;
    }

    #project1 h3{
        font-size: 30px;
    }

    #project1 p{
        font-size: 15px;
    }
    .moreProjects a{
        height: 300px;
        width: 300px;
    }
}
     /* MEDIA QUERY FOR 375px AND SMALLER  - iPhone X 375x812 */
     @media only screen and (max-device-width: 375px) {

    header{
        width: 980px
    }

    header h1{
        font-size: 100px;
    }

    header nav ul li a {
        margin: 0 15px;
        font-size: 40px;
    }

    .hero{
        width: 980px;
        height: 1500px;
    }
    
    .hero-profile-image{
        height: 800px;
        width: 800px;
       
    }

     h2{
        width:980px;
        font-size: 70px;
        padding: 200px 0 0 0;
    }

    .aboutMe p {
        width: 980px;
        font-size: 40px;
        margin: 0;
        padding: 0 40px 0 40px;
    }
    .primeContent{
        width: 980px;
    }

    #project1{
        background-size: cover;
        background-position: 75%;
        height: 1200px;
    }

    .moreProjects a {
        height: 700px;
        width: 700px;
        margin:60px 0 0 0;
    }

.runBuddy{
    flex-direction: row;
    margin-bottom: 900px;
}

.interests a {
    height: 700px;
    width: 700px;
}

.contactMe{
    width:960px;
}

.contactMe h2{
    padding: 0;
}

.contactMe a {
    font-size: 70px;
}

footer{
    margin-top: 30px;
    width:980px;
    font-size: 50px;
}

footer div{
    text-align: center;
}
}




    
